a {
  text-decoration: none;
}

div.inner-col {
  flex-grow: 1;
  min-height: 800px;
  border: solid lightgray 1px;
  border-radius: 10px;
  h2 {
    font-weight: 300;
  }
}

.bg-inprogress {
    background-color: #e5e5e5;
}

.col {
  padding:2rem;
}