a {
  text-decoration: none;
}

div.col-container {
  width: 84%;
  display: flex;
  align-items: flex-start;
}
div.progress-container {
  width: 16%;
}
div.full-container {
  display: flex;
}
div.col {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
div.card-col-header {
  width: 100%;
  border: solid lightgray 1px;
  border-bottom: none;
  h4 {
    margin: 0;
  }
}
div.card-col {
  border: solid lightgray 1px;
  border-top: none;
  align-items: flex-start;
  h4 {
    width: 100%;
  }
}
.task {
  margin-top: 0.5rem;
  padding: 0.1rem;
  width: 100%;
  border: solid lightgray 1px;
  line-height: 1em;
}